.swiper {
  height: 200px;
  margin-right: 6px;
  margin-left: 6px;
}

.swiper-wrapper {
  height: 200px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 153px;
  height: 200px;
}

.swiper-button-prev,
.swiper-button-next {
  z-index: 999;
  width: 410px;
  height: 27px;
  background-size: contain;
}

.swiper-button-prev {
  background-image: url("../img/symbol-defs.svg#icon-arrow-left");
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}

.swiper-button-next {
  background-image: url("../img/symbol-defs.svg#icon-arrow-right");
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .swiper {
    height: 398px;
    margin-right: -24px;
    margin-left: -24px;
  }
  .swiper-wrapper {
    height: 398px;
  }

  .swiper-slide {
    width: 344px;
    height: 398px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 96px;
    height: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .swiper {
    height: 420px;
    margin-left: 0;
    margin-right: 0;
    outline: 1px solid red;

    overflow: visible;
  }

  .swiper-wrapper {
    height: 420px;
  }

  .swiper-slide {
    width: 390px;
    height: 420px;
  }
  .swiper-button-prev {
    left: -24px;
  }
  .swiper-button-next {
    right: -24px;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.blog__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #000;
  padding-bottom: 32px;
}

.blog__button {
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  margin: 0 auto;
  border-radius: 38px;
  padding: 10px 40px;
  width: 170px;
  height: 40px;
  background-color: #e86f54;
}
