.modal{
position: relative;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 272px;
  padding: 28px 16px;
}

.modal_title{
font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
color: #000;
margin-bottom: 16px;
}


.modal_text{
font-family: var(--font-family);
font-weight: 500;
font-size: 12px;
color: #5c5c5c;
margin-bottom: 16px;
}



.modal_form{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.modal_label{
  display: flex;
  flex-direction: column;
gap: 8px;

}

.modal_lable_text{
font-family: var(--font-family);
font-weight: 500;
font-size: 10px;
color: #5c5c5c;
}

.modal_input{
border: 1px solid #d7d7d7;
border-radius: 4px;
width: 240px;
height: 35px;
padding: 10px 12px;
}

.modal_button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  border: none;
font-family: var(--font-family);
font-weight: 600;
font-size: 14px;
text-align: center;
color: #fff;
background-color: #E86F54;
width: 240px;
height: 37px;
}

.modal_close{
    position:absolute;
  right: 16px;
  top: 16px;
  width: 18px;
  height: 18px;
}





