:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Inter", sans-serif;
}

.main_section{
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.contact_section{
  padding: 0 32px;
  padding-top: 48px;
}

.section{
padding: 0 32px;
padding-top: 24px;
padding-bottom: 32px;
}



.modal{
width: 480px;
}

.modal_title{
  text-align: left;
font-family: var(--font-family);
font-weight: 600;
font-size: 32px;
color: #000;
}

.modal_name_section{
padding: 0 32px;
padding-bottom: 24px;
}

.modal_email_section{
padding: 0 32px;
padding-bottom: 38px;
}

.modal_input{
position: absolute;
 border-radius: 4px;
width: 416px;
height: 49px;
}


.modal_text{
  text-align: left;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
color: #5c5c5c;
padding-top: 24px;
padding: 0 32px;
}

.modal_label{
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
padding-bottom: 38px;
padding-top: 8px;
padding-left: 32px;
padding-right: 32px;
}

.input_text{
  text-align: left;
  font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
color: #5c5c5c;
}

.input_lable{
  font-family: var(--font-family);
font-weight: 500;
font-size: 12px;
color: rgba(0, 0, 0, 0.4);
}

.backdrop.is-hidden{
opacity: 0;
visibility: hidden;
pointer-events: none;
transition-property: opacity;
transition-duration: 500ms;
}

.no-scroll {
  overflow: hidden;
}

.backdrop.is-hidden .modal{
 transform: translate(-50%, -50%) scale(0.25);
}

.modal_button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  border: none;
font-family: var(--font-family);
background-color: #E86F54;
font-weight: 600;
font-size: 18px;
text-align: center;
color: #fff;
padding: 14px 191px;
margin: 0 32px;
margin-bottom: 48px;
margin-top: 38px;
}


.second_picture{
  margin-top: 100px;
  position: absolute;
background-repeat: no-repeat;
  background-image: url(../img/flower.jpg);
}


.second_layer_title{
font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
text-align: center;
color: #000;

padding: 18px 79px 14px;
}

.second_layer_text{
  font-family: var(--font-family);
font-weight: 500;
font-size: 12px;
text-align: center;
color: #5c5c5c;

padding: 0 16px 18px;
}

.second_layer_button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  border: none;
font-family: var(--font-family);
background-color: #E86F54;
font-weight: 600;
font-size: 18px;
text-align: center;
color: #fff;
padding: 10px 87px;
margin: 0 16px 32px;
}



@media screen and (min-width: 320px){

.main_section{
  outline: 1px solid red;
  }

.modal_title{
  padding: 28px 16px 14px;
}

.modal_text{
padding: 0 16px;
width: 240px;
}

.modal_label{
  padding: 38px 16px 14px;
}

.modal_input{
  width: 240px;
  height: 35px;
}

.modal_button{
  padding: 10px 103px;
  margin: 48px 16px 28px;
}



}

