.delivery__item {
    list-style-type: none;
    counter-increment: my-counter;
}

.delivery__item::before {
    content: counter(my-counter);
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    margin-right: 10px;
    font-weight: bold;
}