.delivery {
    position: relative;
    z-index: 1;

    // MOBILE
    padding-top: 50px;
    padding-bottom: 205px;

    background-color: #fff;

    &::after {
        content: '';
        position: absolute;
        bottom: 30px;
        left: 0;
        width: 100%;
        height: 135px;

        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
        z-index: -1;

        // (1x)
        background-image: url('../img/delivery/delivery-flower-mob@1x.jpg');

        // (2x)
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../img/delivery/delivery-flower-mob@2x.jpg');
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        gap: 14px;
        list-style: none;
        counter-reset: my-counter;
    }

    &__item {
        list-style-type: none;
        counter-increment: my-counter;
        display: flex;
        align-items: center;

        &::before {
            content: counter(my-counter);
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 50%;
            background-color: transparent;
            border: 1px solid #000;
            color: #000;
            font-weight: bold;
            flex-shrink: 0;
            font-size: 18px;
            margin-right: 8px;
        }
    }

    &__text {
        width: auto;
        font-family: $font-family;
        font-size: 14px;
        font-weight: 500;
        color: $color-text-primary;
    }

    // TABLET
    @media (min-width: 768px) {
        padding-top: 100px;
        padding-bottom: 374px;

        &::after {
            height: 264px;
            bottom: 50px;

            // (1x)
            background-image: url('../img/delivery/delivery-flower-tablet@1x.jpg');

            // (2x)
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url('../img/delivery/delivery-flower-tablet@2x.jpg');
            }
        }

        &__list {
            padding: 0;
            gap: 30px;
        }

        &__item {
            align-items: center;

            &::before {
                width: 64px;
                height: 64px;
                line-height: 64px;
                font-size: 24px;
                margin-right: 20px;
            }
        }

        &__text {
            width: auto;
            font-size: 24px;
            line-height: 1.3;
        }
    }

    // DESKTOP
    @media (min-width: 1024px) {
        padding-bottom: 531px;

        &::after {
            height: 391px;
            bottom: 50px;

            // (1x)
            background-image: url('../img/delivery/delivery-flower-desk@1x.jpg');

            // (2x)
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url('../img/delivery/delivery-flower-desk@2x.jpg');
            }
        }

        &__item {
            align-items: center;
        
            &::before {
                width: 64px;
                height: 64px;
                line-height: 64px;
                font-size: 24px;
                margin-right: 60px;
            }
        }

        &__list {
            margin-left: 60px;
            gap: 54px;
        }

        &__text {
            width: 798px;
            font-size: 32px;
        }
    }
}