.header {
  padding: 12px 0px;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .header_nav_list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header_nav_list {
    display: flex;
    gap: 24px;
  }
  .header_nav {
    display: flex;
    align-items: center;
    gap: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .header_nav {
    gap: 261px;
  }
  .header_nav_list {

    gap: 48px;
  }
}
.header .flex {
  display: flex;
  justify-content: space-between;
}

.header_button_wrapper {
  display: flex;
  gap: 14px;
}

.header_item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #000;
}
