
.header {
  padding: 12px 0px;
}

@media screen and (max-width: 767px) {
  .header_nav_list {
    display: none;
  }
}

.header .flex {
  display: flex;
  justify-content: space-between;
}

.header_button_wrapper {
  display: flex;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .burger_button {
    display: none;
  }
}