@media screen and (min-width: 768px) {
  .menu-toggle{
    display: none;
  }
  .menu-container{
    display: none;
  }
}
.menu-close-button{
display: flex;
position: absolute;
top: 10px;
right: 10px; 
color: white;
}
.menu-close-icon{
stroke: white;


}
@media screen and (max-width: 767px) {
 .menu-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #E86F54;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
}
.mobile-menu{
display: flex;
flex-direction: column;
gap: 26px;
justify-content: center;
align-items: center;
margin-top: 70px;
}
.link{
font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
color: #fff;
}