.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
    outline: 1px solid red;
       
    @media (min-width: 768px) {
        padding-left: 24px;
        padding-right: 24px;
        max-width: 768px;
        outline: 1px solid blue;
    }
 
    @media (min-width: 1280px) {
        max-width: 1280px;
        padding-left: 24px;
        padding-right: 24px;
        outline: 1px solid green;
    }
}