.section_title{
display: flex;
justify-content: center;
align-items: center;
gap: 14px;
font-family: var(--font-family);
font-weight: 700;
font-size: 24px;
color: #000;
margin-bottom: 32px;
@media (min-width: 768px) {
font-size: 44px;
margin-bottom: 60px;
}
@media (min-width: 1200px) {
margin-bottom: 80px;
}
}
.section_title::after{
content: "";
display: block;
height: 1px;
background-color: #000;
width: 100%;
}
