.backdrop.is-hidden{
opacity: 0;
visibility: hidden;
pointer-events: none;
transition-property: opacity;
transition-duration: 500ms;
}

.no-scroll {
  overflow: hidden;
}

.backdrop.is-hidden .modal{
 transform: translate(-50%, -50%) scale(0.25);
}